.dasboard-sky{
    background: linear-gradient(to bottom, #67d1fb 0%, #9be2fe 100%);
    min-height: 100vh;

    .profile-link {
        text-align: center;
        padding-top: 100px;
    }

    .article-link {
        text-align: center;
        padding-top: 150px;
    }

    .dashboard-container {
        width: 80%;
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 150px;

    }

}

   //Articles card    
    .article-view-card {
        width: 80%;
        margin: 0 auto 100px auto;
        overflow: hidden;
        border-top: 1px solid black;
        color: #964A00;

        .article-view-card-picture {
            height: 300px;
            width: 70%;
            background-color: #67D1FB;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 30px 0 0 0;
        }

        .article-view-card-title {
            font-size: 2em;
            padding: 30px 0 0 0; 
        }
        .article-view-card-created{
            padding: 30px 0; 
            font-style: italic;
        }
        .article-view-card-content {
            padding: 30px 0;
        }
        .article-view-card-button {
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
        }
    }

//Article created
.article-create-sky {
    background: linear-gradient(to bottom, #67d1fb 0%, #9be2fe 100%);
    min-height: 100vh;

    .article-create-form-container{
        width: 80%;
        margin:  0 auto;
        padding: 100px 0px 100px 0px;

        h2 {
            text-align: center;
        }

        form {
            // background-color: white;

            .article-create-form-group {
                margin-top: 50px;
                padding: 50px;
            }
        }
    }
}

