// section-one
.section-one {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .section-one-text {
        width: 50%;
        margin: 400px auto;
        z-index: 10;
        position: relative;

        .section-one-text-title {
            margin-bottom: 500px;
            text-align: center;
            font-size: 3em;
        }

        .section-one-text-about {
            margin-top: 100px;
            margin-bottom: 100px;
            p {
                margin-top: 50px;
                text-align: justify;
            }
        }

      
    }

    .section-one-animations {
        z-index: 5;
    }
}

// section-two
.section-two {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 15;
}

// section-three
.section-three {
    width: 100%;
    min-height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 5;

    .section-three-text{
        width: 60%;
        position: relative;
        margin: 0 auto;
        

        .article-card {
            margin-bottom: 200px;
            margin-top: 100px;
            border: 1px solid green;

            .article-card-image {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .article-card-title {
                font-size: 2em;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
   

}




@include breakpint(mobile) {
    .section-one{
        .section-one-text {

            .section-one-text-title {
                font-size: 1em;
            }
        }
    }
}