// section-one
.section-one {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .section-one-animations {
        z-index: 5;
    }
}

// section-two
.section-two {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 15;
    display: block;
}

// section-three
.section-three {
    width: 100%;
    min-height: 5000px;
    background-color: inherit;
    position: relative;
    z-index: 15;

    .section-three-text{
        width: 60%;
        position: relative;
        margin: 0 auto;
        

        .section-three-article-card {
            margin-bottom: 200px;
            margin-top: 100px;
            border-bottom: 1px solid black;

            .section-three-article-card-image {
                height: 400px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 30px 0 0 0;
                -webkit-box-shadow: 11px 12px 24px 11px #576262; 
                box-shadow: 11px 12px 24px 11px #576262;
            }

            .section-three-article-card-created {
                margin-bottom: 20px;
                 font-style: italic;

                 span {
                     margin-left: 20px;
                 }
            }

            .section-three-article-card-title {
                font-size: 2em;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .section-three-article-card-content {
                margin-top: 40px;
                margin-bottom: 10px;
                font-size: 1.5em;
            }
        }
    }

    .more-button {
        width: 80%;
        text-align: center;
        margin: 0 auto;

        img {
            cursor: pointer;
            width: 35%;
        }
    }

    .section-three-text-title {
        width: 80%;
        text-align: center; 
        margin: 0 auto;
        font-size: 2em;
    }
}

.section-four {
    width: 100%;
    height: 700px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 15;   

    .section-four-text {
        margin-top: 200px;
        text-align: center;
        z-index: 50;

        h2 {
            font-size: 1.5em;
        }
    }
}

.section-five {
    width: 100%;
    height: 1000px;
    background-color: inherit;
    position: absolute;
    z-index: 5;
    bottom: 0;

    .section-five-mountains {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

}


@include breakpint(tablet) {
    .section-one{
        .section-one-text {

            .section-one-text-title {
                font-size: 1em;
            }
        }
    }

    .section-two {
        display: none;
    }

    .section-three {
        .section-three-text{
            width: 90%;

            .section-three-article-card-title {
                font-size: 1em;
            }

            .section-three-article-card-content {
                font-size: 0.8em;
            }
        }

        .section-three-text-title {
            font-size: 1em;
        }
    }
}