// tetx for section one
.section-one-text {
    width: 50%;
    margin: 400px auto;
    z-index: 10;
    position: relative;

    .section-one-text-title {
        margin-bottom: 500px;
        text-align: center;
        font-size: 3em;
    }

    .section-one-text-about {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 1.5em;
        p {
            margin-top: 50px;
            text-align: justify;
        }
    }
  
}

@include breakpint(mobile) {
    .section-one-text {
    
        .section-one-text-about {
            font-size: 1em;
        }
      
    }
}