@import 'abstracts/mixins';
@import 'abstracts/animations';

@import 'base/fonts';
@import 'base/colors';
@import 'base/margin-padding';
@import 'base/global';

@import 'components/buttons';
@import 'components/bg_btn';
@import 'components/card';

@import 'layout/navigation';
@import 'layout/footer';

@import './parallaxcomponent/sky.scss';
@import './parallaxcomponent/parallaxobject.scss';
@import './parallaxcomponent/sections.scss';
@import './parallaxcomponent/clouds.scss';
@import './parallaxcomponent/dashboard.scss';
@import './parallaxcomponent/loginbutton.scss';
@import './parallaxcomponent/staticcomponent.scss';


